<app-header></app-header>


<div>

  <table>
    <tr>
      <th colspan="4"><h2>Opcije</h2></th>
    </tr>

    <tr>
      <td><a routerLink="/adminsis/create-ustanova" class="btn btn-primary "
             style="height: 50px;font-size: large;color: #f3f3f3"> Registruj ustanovu (Pozoriste/Bioskop) </a></td>
      <td><a routerLink="/adminsis/admin-ustanove" class="btn btn-primary "
             style="height: 50px;font-size: large;color: #f3f3f3"> Dodaj administratora ustanove </a></td>
      <td>
        <a routerLink="/adminfan/licni-podaci" class="btn btn-primary"
           style="height: 50px;font-size: large;color: whitesmoke">Promena licnih podataka</a><br>
      </td>
      <td>
        <a routerLink="/adminfan/promena-lozinke" class="btn btn-primary"
           style="width: 220px;height: 50px;font-size: large;color: whitesmoke;">Promena lozinke</a>
      </td>
    </tr>
  </table>

</div>
<hr>
<br>
<br>


<!--<div class="col-md-6">-->
<!--<a routerLink="/adminfan/noviRekvizit-config">Tematski rekviziti</a>-->
<!--</div>-->


<!--<div>-->

<!--<ngb-rating [(rate)]="currentRate">-->
<!--<ng-template let-fill="fill" let-index="index">-->
<!--<span class="star" [class.filled]="fill === 100"  [class.good]="index >7" [class.bad]="index < 3">&#9733;</span>-->
<!--</ng-template>-->
<!--</ngb-rating>-->
<!--<hr>-->
<!--<pre>Rate: <b>{{currentRate}}</b></pre>-->

<!--</div>-->

