<hr>
<div class="col-md-9">
  <div
    href="#"
    class="list-group-item clearfix"
    *ngFor="let newProp of newProps">
    <div class="pull-left">
      <a href="new-prop-detail/{{newProp.id}}"><h3 class="list-group-item-heading"><b>{{ newProp.naslov }}</b></h3></a>
      <p class="list-group-item-text">{{ newProp.opis }}
        <!--<br>-->
        {{newProp.show}}
        <span style="color: #201fff">Rezervisan od strane: {{newProp.registrovaniKorisnik}} </span></p>
      <!--<p>Ime korisnika: {{ newProp.registrovaniKorisnik }} </p>-->
      <!--</div>-->
      <span class="pull-right">
        <button class="btn btn-info" *ngIf="newProp.registrovaniKorisnik == null" (click)="reservation(newProp.id)">REZERVIŠI</button>
      </span>
      <!--{{newProp}}-->
      <span class="pull-right">
        <img
          [src]="newProp.image"
          alt="{{ newProp.show }}"
          class="img-responsive"
          style="height: 100px; width: 100px;">
      </span>
    </div>
  </div>

</div>
