<hr>

<div id="mydiv">
<div class="col-md-9">
  <div
    href="#"
    class=" clearfix"
    *ngFor="let newProp of newProps">
    <div class="pull-left">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> <h2>{{ newProp.naslov }} </h2> </mat-card-title>
          <mat-card-subtitle>Korisnik koji je rezervisao: {{ newProp.registrovaniKorisnik }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height: 300px; width: 300px;" [src]="newProp.image"  alt="Photo of a Shiba Inu">
        <mat-card-content>    <!--https://material.angular.io/assets/img/examples/shiba2.jpg -->
          <!-- opis -->
          <h4>{{ newProp.opis }} </h4>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="newProp.registrovaniKorisnik == null" class="btn btn-success" (click)="reservation(newProp.id)"> Rezervisi </button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

</div>

</div>
