<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: black">Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/rezervacija-mjesta" style="color: blue">Rezervacija mjesta</a></li>
      <li><a href="#" style="color: blue"> Stranica 2</a></li>
      <li><a routerLink="/fan-zone" style="color: blue">Fan Zona</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-collapse">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button style="height: 54px;width: 85px ;color: aqua;background: #091b50" class="btn btn-outline-primary"
                    id="dropdownKorisnik" ngbDropdownToggle>Korisnik
            </button>

            <div ngbDropdownMenu>
              <button (click)="logOut()" class="zaDropDown" style="font-size: large"> Odjava</button>
              <button (click)="getMyAds()" class="zaDropDown" style="font-size: large"> Oglasi (koje ste objavili)
              </button>
            </div>
          </div>
        </div>
      </div>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li><a href="/home-page" style="color: darkblue;"><p>Ulogovao se: <b> {{korisnik.username}} </b></p></a></li>
      <li *ngIf="tip"><a href="/admin-profil" style="color: deepskyblue"> <b> AdminFanProfil </b> </a></li>
      <li *ngIf="sisTip"><a href="/adminsis/admin-sis" style="color: deepskyblue"> <b> Profil admina sistema </b> </a>
      </li>
    </ul>

  </div>
</nav>


