#mydiv {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 60em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -25em; /*set to a negative number 1/2 of your width*/
  /*border: 1px solid #ccc;*/
  background-color: #f3f3f3;
}
