<app-profil-reg-korisnika></app-profil-reg-korisnika>
<form name="form" #f="ngForm">

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" #username name="username" placeholder="{{korisnik.username}}"
           value="{{korisnik.username}}">
  </div>

  <div class="form-group">
    <label>Ime</label>
    <input type="text" class="form-control" #ime name="ime" placeholder="{{korisnik.ime}}" value="{{korisnik.ime}}">
  </div>

  <div class="form-group">
    <label>Prezime</label>
    <input type="text" class="form-control" #prezime name="prezime" placeholder="{{korisnik.prezime}}"
           value="{{korisnik.prezime}}">
  </div>
  <div class="form-group">
 <label>Sifra</label>
 <input type="password" class="form-control" #password name="password" placeholder="{{korisnik.password}}"
  value="{{korisnik.password}}">
  </div>
  <div class="form-group">
    <label>email</label>
    <input type="text" class="form-control" #email name="email" placeholder="{{korisnik.email}}"
           value="{{korisnik.email}}">
  </div>

  <div class="form-group">
    <label>grad</label>
    <input type="text" class="form-control" #grad name="grad" placeholder="{{korisnik.grad}}"
           value="{{korisnik.grad}}">
  </div>

  <div class="form-group">
    <label>Tel. broj</label>
    <input type="text" class="form-control" #broj name="broj" placeholder="{{korisnik.number}}"
           value="{{korisnik.number}}">
  </div>

  <div class="form-group">
    <button (click)="promeni_podatke(username.value, ime.value, prezime.value,email.value,grad.value,broj.value,password.value)" class="btn btn-primary">Potvrdi</button>
    <a routerLink="/profil-reg-korisnika" class="btn btn-link">Otkaži</a>
  </div>

</form>
