<app-header></app-header>

<div>

  <table>
    <tr>
      <th colspan="4"><h2>Opcije</h2></th>
    </tr>

    <tr>
      <td><a routerLink="/pozorista" class="btn btn-primary "
             style="height: 50px;font-size: large;color: #f3f3f3">Spisak pozorišta </a></td>
      <td><a routerLink="/bioskopi" class="btn btn-primary "
             style="height: 50px;font-size: large;color: #f3f3f3">Spisak bioskopa </a></td>
      <td>
        <a routerLink="/prijatelji" class="btn btn-primary"
           style="height: 50px;font-size: large;color: whitesmoke">Prijatelji</a><br>
      </td>
      <td>
        <!--<a routerLink="/spisak-rezervisanih" class="btn btn-primary"-->
           <!--style="width: 220px;height: 50px;font-size: large;color: whitesmoke;">Rezervisana mjesta</a>-->
      </td>
      <td>
        <a routerLink="/podesavanja-profila" class="btn btn-primary"
           style="width: 220px;height: 50px;font-size: large;color: whitesmoke;">Promjena profila</a>
      </td>
    </tr>
  </table>

</div>
