<div id="mydiv">

  <h3 align="center" style="color: darkgreen"> Promena sifre korisniku: <span
    style="color: red">{{korisnik.username}} </span></h3>


  <form>

    <div class="form-group">
      <label>Unesite trenutnu lozinku </label>
      <input type="password" class="form-control" #trenutna name="trenutna" required>
      <!-- value="{{korisnik.password}}" -->

    </div>
    <!--<div id="err1"></div>-->

    <div class="form-group">
      <label>Unesite novu lozniku</label>
      <input type="password" class="form-control" #nova1 name="nova1" required>
    </div>

    <div class="form-group">
      <label>Ponovite novu lozinku</label>
      <input type="password" class="form-control" #nova2 name="nova2" required>

    </div>
    <!--<div id="err3"></div>-->

    <div class="form-group">
      <button class="btn btn-primary" (click)="potvrdi_promenu(trenutna.value, nova1.value, nova2.value)"> Promeni
        sifru
      </button>
      <a routerLink="/adminfan/noviRekvizit-config" class="btn btn-link">Cancel</a>
    </div>

  </form>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <!-- opis -->

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>


